@page
@model HTML.Pages.ProductsModel
@{
    ViewData["Title"] = "Product";
}
@{
var db = new ClassLibrary.Database
("Server=40.85.84.155;Database=ELGIGANTO5;User=Student5;Password=YH-student@2019;");
}
<div class="currentProduct">
    <h1>@Model.currentProduct.Name</h1>
    <img src=@Model.currentProduct.ImageURL style="width:420px;">
    <p>Artikelnummer: @Model.currentProduct.ItemNumber</p>
    <p>Kategori: @Model.currentProduct.Category</p>
    <p>Tillverkare: @Model.currentProduct.Brand</p>
    <p>Pris: @Model.currentProduct.Price</p>
    <p>Släppdatum: @Model.currentProduct.ReleaseDate.ToString("yyyy/MM/dd")</p>
    <p>Lager: @Model.currentProduct.Status</p>
    <p>Antal i lager: @Model.currentProduct.QuantityAvailable</p>

</div>


@if (@Model.currentProduct.Brand.Contains("AMD")){
    <body style="background-image: url('https://i1.wp.com/beth.technology/wp-content/uploads/2019/12/AMD-Stock-is-Approaching-a-20-Year-Roadblock-%E2%80%93-Will-History-Repeat-1.png?fit=1280%2C600&ssl=1');"></body>
}

@if (@Model.currentProduct.Name.Contains("Intel")){
    <body style="background-color: blue"></body>
}